html {
    height: 100%;
}

body {
    background: linear-gradient(50deg, rgb(212, 128, 245), rgb(53, 102, 192));
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    min-height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding: 20px;
}

.home {
    padding: 20px;
    display: block;
    background: transparent;
    border: 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    margin-bottom: 50px;
}

.home a {
    text-decoration: none;
    color: #000;
}

.home a:hover {
    text-decoration: none;
    color: rgb(212, 128, 245);
}

h1 {
    font-family: 'Press Start 2P', cursive;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    text-indent: -20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 14px;
    font-style: italic;
    text-align: left;
}

div {
    width: 600px;
    margin: auto;
}

main div {
    padding: 20px;
}

div p {
    padding-bottom: 20px;
}

ul {
    padding-top: 0px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* TECHNICAL POST */
#image1 {
    width: 594px;
    border: 3px solid rgb(53, 102, 192);
}
#image2 {
    margin-top: 0px;
    width: 594px;
    border: 3px solid rgb(53, 102, 192);
}
table {
    margin: auto;
}
#text-table {
    border-collapse: collapse;
    width: 600px;
    height: 300px;
}
#text-table th,
td {
    border: 3px solid rgb(53, 102, 192);
}
#text-table td {
    text-indent: 20px;
}
#image-table td {
    border: 0px;
    text-align: center;
    vertical-align: top;
    column-gap: 100px;
    font-weight: bold;
    font-size: 16px;
}
