html {
  min-height: 100vh;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(50deg, rgb(212, 128, 245), rgb(100, 198, 255));
}

.container {
  background-color: transparent;
  display: grid;
  grid-gap: auto;
  grid-template-areas: 'about' 'name' 'image' 'nav';
  padding-left: 100px;
  padding-right: 100px;
  flex: 1 0 auto;
}

.box {
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}

/* main content components */
.about {
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  justify-content: center;
  color: white;
}

.name {
  grid-area: name;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  margin: auto;
  background-color: transparent;
  text-align: center;
  color: #ffffff;
}

.image {
  grid-area: image;
  margin: auto;
}
#image {
  width: 25vw;
  max-width: 228px;
}

/* nav bar w dropdown menus */
.nav {
  grid-area: nav;
  padding-top: 100px;
  font-size: 13px;
  font-family: 'Press Start 2P', Arial;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  vertical-align: top;
  float: left;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  white-space: pre;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover {
  color: rgb(57, 132, 218);
}

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(
    50deg,
    rgb(57, 132, 218),
    rgb(255, 255, 255),
    rgb(57, 132, 218)
  );
  border: 0.5px solid black;
  border-radius: 5%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
  padding: 0px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  font-weight: bold;
  background-color: rgb(57, 132, 218);
}

/* 320x480px mobile view */
@media only screen and (max-width: 600px) {
  .container {
    margin-top: 100px;
  }

  table {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  tbody {
    display: flex;
    flex-direction: row;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
  td {
    width: 100%;
    padding-bottom: 100px;
  }
  .name {
    padding-bottom: 50px;
  }

  @media only screen and (max-height: 650px) {
    .container {
      margin-top: 20px;
      grid-gap: 0px 0px;
    }
    .name {
      font-size: 30px;
      padding-bottom: 10px;
    }
    .nav {
      padding-top: 10px;
      padding-bottom: 0px;
    }
    td {
      font-size: 10px;
    }
  }
}

/* 768x1024px tablet view */
@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: auto auto;
    grid-template-areas: 'about about' 'name image' 'nav  nav';
    margin-top: 100px;
  }
  td {
    width: 49%;
  }
}

/* desktop view */
@media only screen and (min-width: 769px) {
  body {
    background: linear-gradient(
      50deg,
      rgb(91, 153, 245),
      rgb(100, 198, 255),
      rgb(96, 255, 81)
    );
  }
  .container {
    margin-top: 200px;
  }
  .name {
    font-size: 100px;
    color: rgb(96, 255, 81);
    text-shadow: 0 0 100px rgb(8, 44, 99), 0 0 50px rgb(0, 56, 141);
  }
  table {
    width: 60% !important;
  }
  td {
    width: 49%;
  }
}
